*{
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: rgb(236,81,43);
	background: linear-gradient(0deg, rgba(236,81,43,1) 0%, rgba(113,74,103,1) 24%, rgba(92,97,162,1) 100%);
	background-attachment: fixed;
	/*Para evitar refresco cuando se desliza al final*/
	overscroll-behavior: contain;
}

#wrapper{
	/*height: 100vh;
	width: 100vw;*/
	padding-top: 1em;
}

#list-estacion{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#list-estacion-title{
	text-transform: uppercase;
	width: 300px;
	margin-bottom: 0.5em;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.btn-estacion{
	background-color: rgba(0,0,0,0.4);
	color: white;
	border-radius: 8px;
	text-decoration: none;
	margin-bottom: 0.5em;
	padding: 1em 1em;
	width: 300px;
}

.btn-estacion--inactiva::after{
	content: 'Inactiva';
	background: #f0aeae;
	color: red;
	border-radius: 8px;
	padding: .3rem;
}

.btn-estacion:hover{
	background-color: rgba(0,0,0,0.8);
}

.estacion-apodo{
	font-size: 20px;
	font-weight: bold;
}

.estacion-ubicacion{
	font-size: 14px;
	font-weight: lighter;
}

.estacion-visitas{
	text-align: right;
	font-size: 14px;
	font-weight: lighter;
}

.color-ubicacion{
	color: red;
}

.color-visitas{
	color: #f2834d;
}

.mp{
	font-weight: 900;
	display: inline-block;
}

.status-led{
	background-image: url(./svg/status.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.status-led::before{
	content: "\f3c5";
	visibility: hidden;
}
